@media (max-width: 600px) {
  header {
    position: relative;
  }
  header nav {
    display: none;
    position: absolute;
    top: 70px;
    background-image: url(menu.jpg);
    width: 100%;
  }
  header nav li {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .menu-icon {
    display: block;
    color: white;
    font-size: 23px;
  }
  /* MQ FOR CHARACTERS */
  .hp_characters {
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 100%;
  }
}

@media (min-width: 600px) {
  header nav {
    display: block !important;
  }
}
